<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteBase /https://medicinalplantspapua.org/v2/

    RewriteRule ^$ public/index.php [L]

    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

</IfModule>
